body{
    background-image: url('yobbie 2.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 118px;
    padding: 0;
     margin: 0;
}
nav{padding: 0%;
margin:1 px;
background:brown;
min-height:120px;
}
nav ul{
text-align: right;
line-height: 35px;
}
ul li{
    display: inline-block;
    margin: 1px;
}
nav ul li a{
    transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    padding: 5px;
    display: block;
}
nav ul li a:hover{
    padding: 15px;
    background-color: grey;
    color:cyan;
}
nav.header{
    background-color: brown;
    min-height: 120px;
    color: brown;
    line-height: 40px;
}
.my_heading{
    
    font-size: 40px;
    float: left;
    margin-left:300px;
    color:grey;
    font-size:4.7rem;
    float:center;
}
.image img{
    border-radius: 20px;
    float:center;
    height:350px;
    width:350px;
    margin-top:-200px;
    margin-left: 60px;

}
.description{
    float:center;
    width: 30%;
    margin-left: 70%;
    margin-top: 5%;
    color:black;
    font-size: large;
}

#sliderbox img{
    float:right;
    width: 300px;
    height:200px;
    margin-top: -250px;
    padding: 50px;
    border-radius: 50px;
    margin-right: 20px;
}
.mylogo img{
    width: 150px;
    height: 100px;
    float:left;
    margin-left: 20px;
    margin-top: 7px;
    border-radius:52%;
}
footer{
    background-color:DarkSalmon;
    width: 100%;
    height: auto;
    bottom:0px;
    position: fixed;
    display: block;
    size: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
}
.media{
    float:right;
    font-size:20px;
    padding:15px;
}
.fa:hover{
    opacity:0.7;
}
.fa {
    padding: 10px;
    font-size: 10px;
    width: 10px;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 30px;
    float: left;
    margin-right: 20px;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-facebook{
      background: grey;
      color: white;
  }
  .fa-instagram{
      background:brown;
      color:black;
  }
  .fa-google{
      background: cyan;
      color: orange;
  }
  .contacts{
      margin-top:-90px;
  }
  .description1{
    float:center;
    width: 30%;
    font-size: large;
    margin-left: 100px;
    
}